<div class="new-comment">
  <div class="container py-5">
    <div class="row w-50 mx-auto shadow-lg bg-white bg-opacity-50">
      <div class="mt-5">
        <span class="fs-3 offset-md-1 font-monospace comment-form"><b>コメント追加</b></span>
      </div>
      <%= form_with model: @comment, url: item_comments_path, local: true do |f| %>
        <div class="form-inline">
          <%= f.label :購入店舗, class:"offset-2 col-4 mt-3" %>
          <%= f.text_field :place, autofocus: true, placeholder:"上位互換〇〇店など" %>
        </div>
        
        <div class="form-inline">
          <%= f.label :購入時価格, class:"offset-2 col-4 mt-3" %>
          <%= f.text_field :price, autofocus: true, placeholder:"1000" %><b> 円</b>
        </div>
        
        <div class="form-inline">
          <%= f.label :満足度（0〜100％）, class:"offset-2 col-4 mt-3" %>
          <%= f.text_field :point, autofocus: true, placeholder:"0〜100" %><b> %</b>
        </div>
        
        <div class="form-inline">
          <%= f.label :写真投稿（なしでも可）, class:"offset-2 col-4 mt-3" %>
          <%= f.attachment_field :image, class:"col-4 mt-4" %>
        </div>
        
        <div class="row --bs-gutter-x-0">
          <div class="offset-2 col-4 mt-4 px-2">
            <%= f.label :コメント %>
          </div>
          <div class="col-6 form-inline px-1">
            <%= f.text_area :opinion, rows:'5', autofocus: true, placeholder: "コメントを記入してください", class:"col-8 mt-4" %>
          </div>
        </div>

        <div class="actions offset-5 mt-4 mb-4">
          <%= f.submit "投稿する", class:"btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>