<div class="wrapper">
  <div class="column cut1">
    <div class="info">
      <%= link_to big_four_path(@big_fours[0]) do %>
        <h2><%= @big_fours[0].name %></h2>
      <% end %>
    </div>
  </div>
  <div class="column cut2">
    <div class="info">
      <%= link_to big_four_path(@big_fours[1]) do %>
        <h2><%= @big_fours[1].name %></h2>
      <% end %>
    </div>
  </div>
</div>

<div class="search">
  <div class="wrap">
    <div class="Box">
      <%= form_with url: search_path, method: :get, local: true do |f| %>
        <%= f.text_field 'search[value]', placeholder: "商品の検索はこちらから", class:"Box-SearchInput" %>
        <%= f.button :type => "submit", style: 'border-style: none; background: none;',class:"Box-Btn" do %>
          <i class="fas fa-search justify-content-center"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="column cut3">
    <div class="info">
      <%= link_to big_four_path(@big_fours[2]) do %>
        <h2><%= @big_fours[2].name %></h2>
      <% end %>
    </div>
  </div>
  <div class="column cut4">
    <div class="info">
      <%= link_to big_four_path(@big_fours[3]) do %>
        <h2><%= @big_fours[3].name %></h2>
      <% end %>
    </div>
  </div>
</div>