<div class="top-bg-center">
  <div class='container p-4'>
    <div class='row'>
      
      
      
        <%= attachment_image_tag @item, :image %>
        <p>商品名：<%= @item.name %></p>
        <p>商品説明：<%= @item.introduction %></p>
        <p>平均購入価格：<%= @item.comments.average(:price).to_i %>円</p>
        <p>平均満足度：<%= @item.comments.average(:point).round(2) %>％</p>
        
        
        
        
        
      <div class='col-md-12 mx-auto text-center items-all'>
        <h2 class="mt-3">コメント一覧</h2>
        <div class="">
          <%= link_to "コメント追加", new_item_comment_path(@item) %>
        </div>
        
        
        
        <div class="">
          <% @comments.each do |comment| %>
            <div>
              <p>ユーザーネーム：<%= comment.customer.name %></p>
              <p>投稿日時：<%= comment.created_at.strftime('%Y/%m/%d') %></p>
              <p>商品コメント：<%= comment.opinion %></p>
              <p>購入時価格：<%= comment.price %></p>
              <p>商品満足度：<%= comment.point %></p>
              <% if comment.customer == current_customer %>
                <%= link_to "編集", edit_item_comment_path(comment) %>
              <% end %>
              
              <%#= render "favorites/favorites", comment: comment %>
              
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>